<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    
    <mvc:annotation-driven
		content-negotiation-manager="contentNegotiationManager" />
		
		<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="favorPathExtension" value="false" />
		<property name="favorParameter" value="true" />
		<property name="mediaTypes">
			<value>
				json=application/json
				xml=application/xml
			</value>
		</property>
	</bean>
    
    <context:component-scan base-package="com.ust"/>
    
     <bean name = "viewResolver"
    	  class = "org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="prefix">
    		<value>/WEB-INF/</value>
    	</property>
    	
    	<property name="suffix">
    		<value>.jsp</value>
    	</property>
    </bean>	
		
		<bean id = "ds" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value = "oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value = "jdbc:oracle:thin:@localhost:1521:xe"></property>
		<property name="username" value = "system"></property>
		<property name="password" value = "root"></property>
	</bean>
	
	<bean id = "jdbcTemplate" class = "org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref = "ds"></property>
	</bean>
	
	<bean id = "udao" class = "com.ust.dao.UstDao">
		<property name="jdbcTemplate" ref = "jdbcTemplate"></property>		
	</bean>
	
	
	
</beans>